<header class="header">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">Loja</a>
        </div>
        <div class="navbar-menu">
            <ul class="navbar-start">
                <li class="navbar-item">
                    <a href="/about">About</a>
                </li>
                <li class="navbar-item">
                    <a href="#">Produto</a>
                </li>
                <li class="navbar-item">
                    <a href="#">Listagem</a>
                </li>
            </ul>
        </div>
    </nav>
</header>