<!doctype html>
<html lang="en">
<head>
    {% include 'partials/head.twig' %}
</head>
<body>
    <div class="container">
        {% block main %}{% endblock %}
    </div>
    <footer class="footer">
        <p>Copyright <small>&copy;</small>2017 - Lucas Augusto</p>
    </footer>
</body>
</html>